@font-face {
  font-family: 'datafont';
  src: local('Meiryo UI');
}

#twitter-text-message{

  font-family: 'datafont', sans-serif;
  font-size: 30px;
  color: #000000;
  letter-spacing: 0;
  overflow: hidden;

}