@font-face {
  font-family: 'datafont';
  src: local('Meiryo UI');
}

#twitter-text-message{

  font-family: 'datafont', sans-serif;
  font-size: 25px;
  color: #000000;
  letter-spacing: 0;

  opacity: 0;
  white-space: nowrap;
  margin-left: 250px;
  overflow: hidden;

}

#twitter-text-username{

  font-family: 'datafont', sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;

  opacity: 0;
  white-space: nowrap;
  margin-left: 0px;
  overflow: hidden;

}